<include file="_head" />
<div class="banner-index">
    <div class="container-my">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            
            <div class="item active">
              <img src="./Public/Home/images/banner-a.png" alt="微汽车">
              <div class="carousel-caption">
                <a class="btn btn-success btn-lg" href="{:U('home/user/register')}">立即申请入驻</a>
              </div>
            </div>
            <div class="item">
              <img src="./Public/Home/images/banner-b.png" alt="">
              <div class="carousel-caption">
                <a class="btn btn-success btn-lg" href="{:U('home/user/register')}">立即申请入驻</a>
              </div>
            </div>
            <div class="item">
              <img src="./Public/Home/images/banner-c.png" alt="">
              <div class="carousel-caption">
                <a class="btn btn-success btn-lg" href="{:U('home/user/register')}">立即申请入驻</a>
              </div>
            </div>
            <div class="item">
              <img src="./Public/Home/images/banner-d.png" alt="">
              <div class="carousel-caption">
                <a class="btn btn-success btn-lg" href="{:U('home/user/register')}">立即申请入驻</a>
              </div>
            </div>
            <div class="item">
              <img src="./Public/Home/images/banner-e.png" alt="">
              <div class="carousel-caption">
                <a class="btn btn-success btn-lg" href="{:U('home/user/register')}">立即申请入驻</a>
              </div>
            </div>
            <div class="item">
              <img src="./Public/Home/images/banner-f.png" alt="">
              <div class="carousel-caption">
                <a class="btn btn-success btn-lg" href="{:U('home/user/register')}">立即申请入驻</a>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.carousel').carousel({
      interval: 3000
    })
</script>

    
    <div class="func all_row">
        <ul class="wrap">
            <li class="func_1">
                <h4>全新的操作界面</h4>
                <p>易上手的左右栏布局<br>
对功能模块进行精准分类<br>
方便你快捷找到需要使用的功能 · · ·</p>
            </li>
            <li class="line"></li>
            <li class="func_2">
                <h4>丰富的功能模块</h4>
                <p>新上线多款官方精品插件<br>
开放的插件商店能满足你的更多需求<br>
个性化定制轻而易举 · · ·</p>
            </li>
            <li class="line"></li>
            <li class="func_3">
                <h4>支持多用户多公众号</h4>
                <p>一个平台运营多个公众号<br>
一个公众号多个运营人员分工管理<br>
轻松搞定运营分工，方便高效 · · ·</p>
            </li>
            
        </ul>
    </div>
    <div class="wrap" style="padding-top:50px">
        <h3 class="plus_title">基础类插件</h3>
        <ul class="plus_list">
            
            <li>
                <a href="javascript:;">
                    <img style="background:#535c63" src="./Public/Home/images/m/icon_add.png">
                    <span class="t">自定义菜单</span>
                    <span class="desc">
                    简单配置，即可实现自己的自定义菜单，微粉丝带来方便的交互</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#5192c0" src="./Public/Home/images/m/icon_chat.png">
                    <span class="t">智能聊天</span>
                    <span class="desc">
                    通过网络上支持的智能API，实现：天气、翻译,IP查询、手机号码归属、人工智能聊天等功能</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#fac303" src="./Public/Home/images/m/icon_laugh.png">
                    <span class="t">欢迎语</span>
                    <span class="desc">
                    用户关注公众号时发送的欢迎信息，支持文本，图片，图文的信息</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#e953eb" src="./Public/Home/images/m/icon_card.png">
                    <span class="t">会员卡</span>
                    <span class="desc">
                    轻松制作一个微会员卡，可以实行会员管理，优惠券发布和管理，通知的发布和管理</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#333" src="./Public/Home/images/m/icon_qr.png">
                    <span class="t">微信宣传页</span>
                    <span class="desc">
                    微信公众号二维码推广页面，用作推广或者制作广告易拉宝，可以发布到QQ群微博博客论坛等等...</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#78caf9" src="./Public/Home/images/m/icon_setting.png">
                    <span class="t">插件管理</span>
                    <span class="desc">
                    按需启用需要的功能模块</span>
                </a>
            </li><li>
                <a href="javascript:;">
                    <img style="background:#f38c06" src="./Public/Home/images/m/icon_tag.png">
                    <span class="t">积分管理</span>
                    <span class="desc">
                    配置积分值，财富值，管理粉丝积分</span>
                </a>
            </li>
        </ul>
        <h3 class="plus_title">互动类插件</h3>
        <ul class="plus_list">
            
            <li>
                <a href="javascript:;">
                    <img style="background:#0cd7a5" src="./Public/Home/images/m/icon_vote.png">
                    <span class="t">投票</span>
                    <span class="desc">
                    支持文本和图片两类的投票功能</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#53d5f1" src="./Public/Home/images/m/icon_pencil.png">
                    <span class="t">建议意见</span>
                    <span class="desc">
                    管理员可以在管理中心里看到用户反馈的内容列表，并对内容进行编辑，删除操作</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#82f606" src="./Public/Home/images/m/icon_survey.png">
                    <span class="t">微调研</span>
                    <span class="desc">
                    建立调研，让粉丝参与进来参与，可查看调研结果，调研结束同时可以设置抽奖</span>
                </a>
            </li><li>
                <a href="javascript:;">
                    <img style="background:#f69e69" src="./Public/Home/images/m/icon_quiz.png">
                    <span class="t">微测试</span>
                    <span class="desc">
                    录入题目，管理题目，设置测试结果，增加趣味和粉丝粘性。</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#13b7e6" src="./Public/Home/images/m/icon_test.png">
                    <span class="t">微考试</span>
                    <span class="desc">
                    主要功能有试卷管理，题目录入管理，考生信息和考分汇总管理。</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#d60f30" src="./Public/Home/images/m/icon_coupon.png">
                    <span class="t">优惠券</span>
                    <span class="desc">
                    配合粉丝圈子，打造粉丝互动的运营激励基础</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#d7620c" src="./Public/Home/images/m/icon_scrach.png">
                    <span class="t">刮刮卡</span>
                    <span class="desc">
                    模拟真实刮刮卡效果，是活动抽奖环节的必备功能，设置奖品，中奖概率</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#f3b40a" src="./Public/Home/images/m/icon_hitegg.png">
                    <span class="t">砸金蛋</span>
                    <span class="desc">
                    模拟真实砸金蛋效果，是活动的必备功能，增强与粉丝的互动，支持设置奖品，中奖概率</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#e14420" src="./Public/Home/images/m/icon_pan.png">
                    <span class="t">幸运大转盘</span>
                    <span class="desc">
                    转盘随机中奖，增强与粉丝的互动，支持设置奖品，中奖类型，中奖概率</span>
                </a>
            </li>
        </ul>
        <h3 class="plus_title">高级插件</h3>
        <ul class="plus_list">
            
            <li>
                <a href="javascript:;">
                    <img style="background:#13b7e6" src="./Public/Home/images/m/icon_web.png">
                    <span class="t">微官网</span>
                    <span class="desc">
                    支持分类设置，文章编辑，统计代码配置，多套首页模板 分类模板 详情模板，菜单任意选择</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#34e19e" src="./Public/Home/images/m/icon_write.png">
                    <span class="t">通用表单</span>
                    <span class="desc">
                    管理员可以轻松地增加一个表单用于收集用户的信息，如活动报名、调查反馈、预约填单等</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#f9e009" src="./Public/Home/images/m/icon_product.png">
                    <span class="t">万能页面</span>
                    <span class="desc">
                    可以通过拖拉的方式配置一个3G页面</span>
                </a>
            </li><li>
                <a href="javascript:;">
                    <img style="background:#f99009" src="./Public/Home/images/m/icon_store.png">
                    <span class="t">微商店</span>
                    <span class="desc">
                    实现商店商品管理、分类管理等功能</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#82f606" src="./Public/Home/images/m/icon_diy.png">
                    <span class="t">融合第三方</span>
                    <span class="desc">
                    支持配置第三方功能扩展</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <img style="background:#0d8fda" src="./Public/Home/images/m/icon_link.png">
                    <span class="t">聚合数据</span>
                    <span class="desc">
                    集成聚合数据（http://www.juhe.cn）平台的功能</span>
                </a>
            </li>
         </ul>
    </div>

<include file="_footer" />